body {
  background: #f28482;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-top: 15rem;
}
h1 {
  text-align: center;
  color: #ffff;
}

hr {
  display: block;
  height: 5px;
  background: #ffff;
  border: none;
}
li {
  list-style: none;
  padding: 0.25rem;
  font-weight: bold;
}

.todo {
  display: flex;
}

.todo-placeholder {
  margin: 1rem 0;
  color: #fff;
  font-weight: bold;
}
.delete-button {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.todo-input {
  padding: 0.5rem;
  border: none;
  outline: none;
}
.todo-button {
  padding: 0.5rem;
  border: none;
  margin: 0.1rem;
  border-radius: 5px;
  cursor: pointer;
  background: #f7ede2;
  font-weight: bold;
}
